blender-4.0.2-linux-x64/
*.fbx
*.Identifier
*.blend
*.unity
*fbx-weight-transfer-unity/unity-scripts/Kiseru*
*Kiseru*
*tools*
*log*
*Pielotopica*
organized/bin/blender
organized/blender-4.0.2-linux-x64.tar.xz
organized/blender-4.0.2-linux-x64/